
<%= div_for permission, :class => "model #{cycle('even', 'odd')}" do %>
  <%= actions_for [resource,permission], current_user %>
  <div class="compact">
    <div class="property"><label>Resource: </label><%= permission.resource.name %></div>
    <div class="property"><label>User: </label><%= permission.user.name %></div>
    <div class="property"><label>Level: </label><%= permission.level %></div>
  </div>
<% end %>
