<%= simple_form_for([@source, @membership]) do |form| %>
  <div class="inputs">
    <% if @membership.new_record? %>
      <%= form.association :space %>
      <%= form.association :user %>
    <% else %>
      <div class="input"><%= property @membership, :space, @membership.space.name %></div>
      <div class="input"><%= property @membership, :user, @membership.user.name %></div>
    <% end %>

    <%= form.input :level, :collection => [:read, :edit, :admin]  %>
  </div>
  <div class="controls">
    <%= form.submit %><%= cancel_submit @source %>
  </div>
<% end %>