<%= section_for :membership %>

<%= actions do  %>
<%= link_to t('zap.actions.add'), [:new, model, :membership] %>
<% end %>

<table>
  <%= thead_for Zap::Membership, :space, :user, :level, :actions %>
  <% model.memberships.each do |membership| %>
  <tr>
    <td><%= link_to membership.space.name, membership.space %></td>
    <td><%= link_to membership.user.name, membership.user %></td>
    <td><%= membership.level %></td>
    <td class="actions">
      <%= link_to t('zap.actions.edit'), [:edit, model, membership] %>
    </td>
  </tr>
  <% end %>
</table>