<%= simple_form_for(@user) do |form| %>
  <div class="inputs">
    <%= form.input :name %>
    <%= form.input :email %>
    <%= form.input :roles %>
  </div>
  <div class="controls">
    <%= form.submit %><%= cancel_submit @user %>
    <%#= link_to 'Cancelar', (@user.new_record? ? zap_users_path : @user)%>
  </div>
<% end %>