<h3><%= link_to 'Participantes', users_path %> > Participante </h3>
<%= title @user.name %>
<%= image_tag avatar_url(@user, 96) %>

<div class="actions">
  <%= link_to 'Editar', [:edit, @user] %>
</div>

<%= properties do %>
  <%= property @user, :email %>
  <%= property @user, :roles %>
<% end %>

<%= section_for :permissions, @user.permissions.count %>
<%= render_permissions @user %>