<h3><%= link_to 'Participantes', users_path %> > Participante </h3>
<%= title @user.name %>
<%= image_tag avatar_url(@user, 96) %>

<div class="actions">
  <%= link_to 'Editar', [:edit, @user] %>
</div>

<ul class="properties">
  <li>Email: <%= @user.email %></li>
  <li>Roles: <%= @user.roles %></li>
</ul>

<%= render :partial => 'zap/memberships/section', :locals => {:model => @user} %>

<%= section_for Zap::Authorization %>
<table>
  <%= thead_for Zap::Authorization, :provider, :uid, :created_at %>
  <% @user.authorizations.each do |auth| %>
    <tr>
      <td><%= auth.provider %></td>
      <td><%= auth.uid %></td>
      <td><%= time_ago_in_words auth.created_at %></td>
    </tr>
  <% end %>
</table>