<%= title t('.title') %>


<table>
  <%= thead_for Zap::Activity, :name, :description, :actions %>
  <tbody>
    <% @spaces.each do |space| %>
    <tr>
      <td><%= link_to space.name, space %></td>
      <td><%= truncate space.description %></td>
      <td class="actions">
        <%= link_to t('zap.actions.edit'), [:edit, space] %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
